In [3]:
import pandas

In [4]:
data=pandas.read_csv("product_data.csv")

In [5]:
data.describe()

,#,id,quantity,price,vat_rate,unit_name,tax_base_basic,tax_base_reduced,vat_rate_basic,vat_rate_reduced,user,transaction
count,8461.000000,8461.000000,8461.000000,8461.000000,8461.000000,0.0,8399.000000,8150.000000,8399.0,8150.0,8461.000000,8461.000000
mean,4231.000000,4848.820234,1.978529,2.387951,17.682307,NaN,28.677383,8.510807,20.0,10.0,13.294882,495.015837
std,2442.624647,2770.732610,15.845572,4.605388,4.530564,NaN,23.966629,9.035499,0.0,0.0,18.617734,318.163173
min,1.000000,181.000000,0.046000,0.000000,0.000000,NaN,0.000000,0.000000,20.0,10.0,1.000000,1.000000
25%,2116.000000,2514.000000,1.000000,0.690000,20.000000,NaN,11.460000,1.610000,20.0,10.0,7.000000,206.000000
50%,4231.000000,4690.000000,1.000000,1.250000,20.000000,NaN,21.620000,6.490000,20.0,10.0,10.000000,476.000000
75%,6346.000000,7230.000000,1.822000,2.290000,20.000000,NaN,42.620000,12.200000,20.0,10.0,10.000000,788.000000
max,8461.000000,9851.000000,1000.000000,99.900000,20.000000,NaN,317.980000,48.910000,20.0,10.0,90.000000,1051.000000